body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white; 
    background-color: #001f3f; 
}


header {
    background-color: #004080; 
    color: white;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: #002952; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

section h2 {
    color: #00aced; 
    margin-bottom: 10px;
}


footer {
    background-color: #002952; 
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
